{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center h-100">
        <h1>Bonjour Administrateur..</h1>
    </div>
{% endblock %}